.App {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0.75em;
  grid-row-gap: 0.75em;
  position: relative;
  padding: 3em;
}

#child1 {
  grid-area: 1 / 1 / 3 / 5;
}
#child2 {
  grid-area: 1 / 5 / 3 / 8;
}
#child3 {
  grid-area: 1 / 8 / 3 / 11;
}
#child2 li {
  cursor: pointer;
  margin-bottom: 6px;
}

.topChild {
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.topChild p {
  font-size: 90%;
  word-wrap: break-word;
}
.topChild h3 {
  margin-bottom: 4px;
  font-size: 100%;
  font-weight: 600;
}
.topChild h4 {
  margin-bottom: 4px;
  font-size: 95%;
  font-weight: 500;
}
.topChild ul {
  width: 80%;
  word-wrap: break-word;
  padding-left: 0.75em;
}
.topChild ul li {
  list-style-type: decimal;
  font-size: 90%;
}
.complete {
  color: green;
}
